<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Introvert's Notbook</title>
    <link rel="stylesheet" href="/views/assets/css/index.css">
</head>

<body>

    <header>
        <h1>Welcome to the Introvert's NoteBook</h1>
        <h2>...where words scream louder than voices</h2>
    </header>

    <nav>
        <a href="#">Home</a>
        <a href="#about">What We're About</a>
        <a href="#posts">Read Away</a>
        <a href="#">For Feedback</a>
    </nav>
    <div class="container">
        <h1>This is the Introvert's NoteBook</h1>
        <p>
            Hi, I'm Tessy, the creator and writer behind this. I started this as a way for introverts like myself to share thoughts,
            experiences, and knowledge on various topics we are passionate about.
        </p>
        <p>
             I’m always looking to learn new things and
            explore new perspectives, so if you have any thoughts, suggestions, or just want to say hi, feel free to reach out!
        </p>
        <p>
            Thank you for visiting. I hope you find the content here useful, interesting, and maybe even a little
            inspiring. Contributions are most welcome.
        </p>
        <p>
            
            Happy reading!
        </p>
        <p>
            <br>
            Tessy!
        </p>
    </div>

    <div class="container" id="posts">

        <div class="post"    id="contentList">

        </div>

        
    </div>

    <footer>
        <p>&copy; 2024 The Introvert's NoteBook | All Rights Reserved</p>
    </footer>
    <script src="/views/assets/js/getContent.js"></script>

</body>

</html>